.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headersec {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.sech1 {
  font-family: "Courier Prime", monospace;
  font-size: 15px;
  font-weight: 100;
  color: #fdfdfe;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 10s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}

.chat-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f4f4f4;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.chat-messages {
  height: 300px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow-y: scroll;
  position: relative;
}



@keyframes neon-border {
  0% {
    box-shadow: 0 0 5px #f9b700, 0 0 20px #f9b700, 0 0 40px #f9b700, 0 0 80px #f9b700;
  }
  100% {
    box-shadow: 0 0 10px #f9b700, 0 0 30px #f9b700, 0 0 60px #f9b700, 0 0 120px #f9b700;
  }
}

.chat-message {
  margin-bottom: 10px;
}

.chat-sender {
  font-weight: bold;
}

.chat-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.chat-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  background-color: #f4f4f4;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 5px #f9b700;
}

.chat-input:focus {
  background-color: #fff;
  box-shadow: 0 0 10px #f9b700;
}

.chat-button {
  background-color: #004c80;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-button:hover {
  background-color: #003c68;
}

/* Agrega aquí estilos adicionales según sea necesario */
