/* Home.css */

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 90px;
  color: white;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-align: center;
}

.description {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.home {
  background-color: #333;
}

/* Agrega aquí estilos adicionales según sea necesario */
