.micros-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #004c80;
    color: white;
    text-align: center;
  }
  
  .micros-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .micro-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .micro-input label {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .micro-input input {
    padding: 8px;
    border: 1px solid #f9b700;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .micro-input button {
    background-color: #f9b700;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .schedule-table-container {
    margin-top: 20px;
  }
  
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .schedule-table th,
  .schedule-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
  }
  
  .schedule-table th {
    background-color: #004c80;
    color: white;
    font-weight: bold;
  }
  
  .schedule-table td {
    background-color: #004c80;
    color: white;
  }
  